@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <h2>Customer List!!!</h2>

    <h3>@Model.Msg</h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var contact in Model.Customers)
            {

                <tr>
                    <td>@contact.ID</td>
                    <td>@contact.Name</td>
                    <td>
                        
                    <a asp-page="./Edit" asp-route-id="@contact.ID">edit</a>
                    
                    
                    <button type="submit" asp-page-handler="delete" asp-route-id="@contact.ID">delete</button>
                    
                    </td>

                </tr>
            }


        </tbody>
    </table>

    <a asp-page="./Create">Create</a>


</form>